body{
    background-color:rgb(70, 66, 66);
    color: blanchedalmond;
    margin: 30px;
    padding: 40px;
    background-image: url(images/1920x1280\ wood\ desktop\ background\ wallpaper\ hd.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
width: 100%;
height: 90vh;
position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:rgb(165, 139, 72);
    box-shadow: 2px 2px 12px rgb(189, 168, 116);
    padding: 0px 5%;
}
nav ul{
    display:flex;
}
nav ul li a{
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(14, 0, 0);
    font-size: 17px;
    font-weight: 700;
}
.logo{
    font-family: 'Finger Paint', cursive;
    color: rgb(104, 54, 7);
    font-size: 30px;
}
.Active{
    font-weight: bold;
    color: rgb(7, 6, 5); 
}
.text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(214, 127, 14) ;
    font-size: 25px;
}
.text-container p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 50px;
}
span{
color: rgb(226, 111, 3);
font-style: italic;
font-family:'Bungee Shade', cursive;
}
.text-container p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 20px;
    line-height: 30px;
    width: 200px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 20%;
    transform: translate(-13-20%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;
}
.Hire-btn{
    border:2px solid #ffffff;
    color:#ffffff;
    background-color:transparent;
}
button:active{
    transform: scale(1.4);
    background-color: rgb(10, 7, 1);
}
.model{
    height: 560px;
    position: absolute;
    top:40px;
    left: 70%;
    transform:translateX(-70%)
   }
   img.model{
       border-radius: 20px;
       border: rgb(177, 132, 87);
       padding: 6px;
        margin: 20px; 
   }
   .about-container{
   
    padding:20px;
    background-color: rgb(58, 31, 4);   
    border-radius: 20px;
    box-shadow: 2px 2px 12px ;
    margin: -7% auto 20px auto;
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
   .about-container img{
       height: 250px;
       margin:30px;
       border-radius: 20px;
       
   }
   .about-text p:nth-child(1){
       color: rgb(10, 7, 1);
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-weight: bold;
       font-size: 30px;
       line-height: 0px;
   }
   .about-text p:nth-child(2){
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
   }
   h3,h4{
       color: gold;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .about-text button{
       width:120px;
       height: 40px;
       color: #ffffff;
       outline:none;
       border-radius: 20px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(10, 7, 1);
   }
   .projects{
    padding: 2px;
    background-color: rgb(58, 31, 4);   
    border-radius: 20px;
    box-shadow: 2px 2px 12px ;
    position: relative;
    margin-top: 80px;
    margin-bottom:80px;
    display: flex;
    align-items: center;
   }
    project-text p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size:20px;
    line-height: 0px;
   }
   .project-text h3{
       color: gold;
       font-size: 30px;
   }
   .project-text button{
    width:120px;
    height: 40px;
    color: #ffffff;
    outline:none;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: rgb(10, 7, 1);
}
a{
    color: white;
}
.project-text h1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.project-text h2{
    text-align: center;
    font-size: 30px;
    color: olive;
}
.project-text{
    padding: 30px;
    padding-top: 2px;
}
.services{
    height: 600px;
    background-image: url(images/desiner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.services-text p:nth-child(1){
   font-weight: bold;
   color:goldenrod ;
   font-size: 35px;
   line-height: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.services-text p:nth-child(2){
    font-weight: bold;
    color: gold;
    font-size: 20px;
    line-height: 10px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .services-text p:nth-child(3){
    font-weight: bold;
    color: black;
 }
 .services-text{
     width: 500px;
     margin: 50px 0px;
 }
 .box-1,.box-2,.box-3{
     width: 300;
 }